.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 1% 2%;
  box-sizing: border-box;
  align-items: center;
  height: 50px;
  color: #363636;
}
.container span{
  font-size: 1.5em;
  font-weight: 700;
}
.images{
  filter: invert(82%) sepia(25%) saturate(1197%) hue-rotate(186deg) brightness(99%) contrast(101%);
}

